In [2]:
import pandas as pd
import numpy as np

## Reading Data containing Dates

In [15]:
# reading a dataframe where the date is not explicitly mentioned

# ---------- Method 1 ---------------
# creating a dummy data
data = {"year":[2001,2002],"month":[1,3],"day":[5,22],"sales":[9,10]}
data = pd.DataFrame(data)
print("Our Data")
print(data)

# now converting our data to dates (to_datetime only works if it contains all the 
# three columns that is year, month and day)
print("\nConverting to date time")
print(pd.to_datetime(data.iloc[:,:3]))

# adding the new dates to our dataframe
data["date"] = pd.to_datetime(data.iloc[:,:3])
print("\nDates Added")
print(data)

Our Data
   year  month  day  sales
0  2001      1    5      9
1  2002      3   22     10

Converting to date time
0   2001-01-05
1   2002-03-22
dtype: datetime64[ns]

Dates Added
   year  month  day  sales       date
0  2001      1    5      9 2001-01-05
1  2002      3   22     10 2002-03-22

Note: For the above to work, it should satisfy below conditions
 - The data must contain atleast 3 columns, i.e. year, month and day. These should be named as is
 - Apart from the above, it can contain other columns like "hour"
 - If the column names containing year, month and day are "a", "b" and "c", then it doesnt work
 as the column names must be with the following names "year", "month" and "day" (it's case insensitive)

In [36]:
# ------------ Method 2 ---------------
# getting in a custom data
print("Original Data: col1 - Year, col2 - Month")
print(pd.read_csv("eg_1.csv"))

# loading in the data with parse_dates
# If we have columns like month, year and day, which refer to same date, then we pass this a list [[year_col, month_col, day_col]] tp parse_dates
# If we have two datetime columns, like month1, year1, day1 which refer to one date time and month2, year2 and day2 which refer to another date, then
# to parse these into two seperate date columns we can pass them as [[year1, month1, day1],[year2, month2, day2]]
print("\nSpecifying Dates as List to parse_dates in pd.read_csv:")
print(pd.read_csv("eg_1.csv",parse_dates=[[0,1]]))

# renaming the newly formed column
print("\nExtracing and saving date in new Col:")
print(pd.read_csv("eg_1.csv",parse_dates={"date":[0,1]}))

Original Data: col1 - Year, col2 - Month
   col1   col2   col3
0  1992      5     89
1  1993      6     98
2  1993     12     98

Specifying Dates as List to parse_dates in pd.read_csv:
  col1_ col2   col3
0 1992-05-01     89
1 1993-06-01     98
2 1993-12-01     98

Extracing and saving date in new Col:
        date   col3
0 1992-05-01     89
1 1993-06-01     98
2 1993-12-01     98

C:\Users\AJAY\AppData\Local\Temp\ipykernel_18248\1105284069.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  print(pd.read_csv("eg_1.csv",parse_dates=[[0,1]]))
C:\Users\AJAY\AppData\Local\Temp\ipykernel_18248\1105284069.py:15: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  print(pd.read_csv("eg_1.csv",parse_dates={"date":[0,1]}))

## Working with Dates Data

In [10]:
# Create a series of dates with Dates as index
some_dates = pd.date_range(start="July 6 2023", periods = 15, freq="D")
random_data = np.random.randint(low=1, high=100, size=15)

df = pd.DataFrame({"data": random_data}, index=some_dates)
df.head()

            data
2023-07-06    44
2023-07-07    32
2023-07-08    40
2023-07-09    50
2023-07-10    66