In [2]:
import pandas as pd
import numpy as np
from IPython.display import display

## Reading Data containing Dates

In [20]:
# reading a dataframe where the date is not explicitly mentioned

# ---------- Method 1 ---------------
# creating a dummy data
data = {"year":[2001,2002],"month":[1,3],"day":[5,22],"sales":[9,10]}
data = pd.DataFrame(data)
print("Our Data")
print(data)

# now converting our data to dates (to_datetime() only works if it contains all the 
# three columns that is year, month and day)
print("\nConverting to date time")
print(pd.to_datetime(data.iloc[:,:3]))

# adding the new dates to our dataframe
data["date"] = pd.to_datetime(data.iloc[:,:3])
print("\nDates Added")
print(data)

Our Data
   year  month  day  sales
0  2001      1    5      9
1  2002      3   22     10

Converting to date time
0   2001-01-05
1   2002-03-22
dtype: datetime64[ns]

Dates Added
   year  month  day  sales       date
0  2001      1    5      9 2001-01-05
1  2002      3   22     10 2002-03-22

Note: For the above to work, it should satisfy below conditions
 - The data must contain atleast 3 columns, i.e. year, month and day. These should be named as is
 - Apart from the above, it can contain other columns like "hour"
 - If the column names containing year, month and day are "a", "b" and "c", then it doesnt work
 as the column names must be with the following names "year", "month" and "day" (it's case insensitive)

In [21]:
# ------------ Method 2 ---------------
# getting in a custom data
print("Original Data: col1 - Year, col2 - Month")
print(pd.read_csv("eg_1.csv"))

# loading in the data with parse_dates
# If we have columns like month, year and day, which refer to same date, then we pass this a list [[year_col, month_col, day_col]] tp parse_dates
# If we have two datetime columns, like month1, year1, day1 which refer to one date time and month2, year2 and day2 which refer to another date, then
# to parse these into two seperate date columns we can pass them as [[year1, month1, day1],[year2, month2, day2]]
print("\nSpecifying Dates as List to parse_dates in pd.read_csv:")
print(pd.read_csv("eg_1.csv",parse_dates=[[0,1]]))

# renaming the newly formed column - For this we pass the the columns to be used as list Value and the new column name as Key
print("\nExtracing and saving date in new Col:")
print(pd.read_csv("eg_1.csv",parse_dates={"date":[0,1]}))

Original Data: col1 - Year, col2 - Month
   col1   col2   col3
0  1992      5     89
1  1993      6     98
2  1993     12     98

Specifying Dates as List to parse_dates in pd.read_csv:
  col1_ col2   col3
0 1992-05-01     89
1 1993-06-01     98
2 1993-12-01     98

Extracing and saving date in new Col:
        date   col3
0 1992-05-01     89
1 1993-06-01     98
2 1993-12-01     98

C:\Users\AJAY\AppData\Local\Temp\ipykernel_20924\393474110.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  print(pd.read_csv("eg_1.csv",parse_dates=[[0,1]]))
C:\Users\AJAY\AppData\Local\Temp\ipykernel_20924\393474110.py:15: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  print(pd.read_csv("eg_1.csv",parse_dates={"date":[0,1]}))

In [22]:
# ----- Using Date Format -------

# getting in a custom data
print("Original Data: col1 - Year, col2 - Month")
print(pd.read_csv("eg_1.csv"))

# renaming the newly formed column - For this we pass the the columns to be used as list Value and the new column name as Key
print("\nExtracing and saving date in new Col:")
print(pd.read_csv("eg_1.csv",parse_dates={"date":[0,1]},date_format='%Y %m')) # space is provided because the year and month are provided in separate columns

Original Data: col1 - Year, col2 - Month
   col1   col2   col3
0  1992      5     89
1  1993      6     98
2  1993     12     98

Extracing and saving date in new Col:
        date   col3
0 1992-05-01     89
1 1993-06-01     98
2 1993-12-01     98

In [23]:
# ----- Some more experiments with Date Format ------
data = pd.read_csv("eg_2.csv")
print("Our Data")
print(data)
print("\nType of Data\n",data.dtypes)

# using parse dates and date format
print("\nUsing just Parse Dates for Col2")
data = pd.read_csv("eg_2.csv",parse_dates={"date_col1":[1]})
print("\nTransformed Data\n",data)
print("\nType of Data\n",data.dtypes)

# using parse dates and date format
print("\nUsing just Parse Dates and DayFirst for Col3")
data = pd.read_csv("eg_2.csv",parse_dates=[2],dayfirst=True)
print("\nTransformed Data\n",data)
print("\nType of Data\n",data.dtypes)

Our Data
           col1       col2        col3  col4
0  July 12 2023  2019-4-15  05-12-2008    90
1  July 23 2023  2019-8-19   25-5-2009    14

Type of Data
 col1    object
col2    object
col3    object
col4     int64
dtype: object

Using just Parse Dates for Col2

Transformed Data
    date_col1          col1        col3  col4
0 2019-04-15  July 12 2023  05-12-2008    90
1 2019-08-19  July 23 2023   25-5-2009    14

Type of Data
 date_col1    datetime64[ns]
col1                 object
col3                 object
col4                  int64
dtype: object

Using just Parse Dates and DayFirst for Col3

Transformed Data
            col1       col2       col3  col4
0  July 12 2023  2019-4-15 2008-12-05    90
1  July 23 2023  2019-8-19 2009-05-25    14

Type of Data
 col1            object
col2            object
col3    datetime64[ns]
col4             int64
dtype: object

Additional links
- https://stackoverflow.com/questions/25015711/time-data-does-not-match-format (in comments they recommend dateutils library)
- https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior (contains "str" to be used in date_format)

Using `to_datetime()` for converting Columns to Datetime Type

In [3]:
# -------- to_datetime() -----------
data = pd.read_csv("eg_2.csv")
display(data)
display(data.dtypes)

# using to_datetime() to convert the column to datetime type
data['col1'] = pd.to_datetime(data['col1'])
print("col1 converted to datetime")
display(data)
display(data.dtypes)

# using to_datetime() to convert the column to datetime type
data['col2'] = pd.to_datetime(data['col2'])
print("col2 converted to datetime")
display(data)
display(data.dtypes)

# using to_datetime() to convert the column to datetime type
display(data)
data['col3'] = pd.to_datetime(data['col3'], dayfirst=True)
print("col3 converted to datetime")
display(data)
display(data.dtypes)

           col1       col2        col3  col4
0  July 12 2023  2019-4-15  05-12-2008    90
1  July 23 2023  2019-8-19   25-5-2009    14

col1    object
col2    object
col3    object
col4     int64
dtype: object

col1 converted to datetime

        col1       col2        col3  col4
0 2023-07-12  2019-4-15  05-12-2008    90
1 2023-07-23  2019-8-19   25-5-2009    14

col1    datetime64[ns]
col2            object
col3            object
col4             int64
dtype: object

col2 converted to datetime

        col1       col2        col3  col4
0 2023-07-12 2019-04-15  05-12-2008    90
1 2023-07-23 2019-08-19   25-5-2009    14

col1    datetime64[ns]
col2    datetime64[ns]
col3            object
col4             int64
dtype: object

        col1       col2        col3  col4
0 2023-07-12 2019-04-15  05-12-2008    90
1 2023-07-23 2019-08-19   25-5-2009    14

col3 converted to datetime

        col1       col2       col3  col4
0 2023-07-12 2019-04-15 2008-12-05    90
1 2023-07-23 2019-08-19 2009-05-25    14

col1    datetime64[ns]
col2    datetime64[ns]
col3    datetime64[ns]
col4             int64
dtype: object

In [4]:
# using to_datetime() for data containing columns like year, day, month
data = pd.read_csv("eg_3.csv")
display(data)

print("Using to_datetime to create the Datetime")
data['datetime'] = pd.to_datetime(data.iloc[:,:3]) # or pd.to_datetime(data[['year','day','month']])
display(data)

print("Including Hours Tooo")
data['datetime'] = pd.to_datetime(data[['year','day','month','hour']]) 
display(data)

   year  day  month  hour  sales
0  2019   22      5     9     90
1  2020    5      7    12     89

Using to_datetime to create the Datetime

   year  day  month  hour  sales   datetime
0  2019   22      5     9     90 2019-05-22
1  2020    5      7    12     89 2020-07-05

Including Hours Tooo

   year  day  month  hour  sales            datetime
0  2019   22      5     9     90 2019-05-22 09:00:00
1  2020    5      7    12     89 2020-07-05 12:00:00

## Working with Dates Data

In [7]:
# Create a series of dates with Dates as index
some_dates = pd.date_range(start="July 6 2023", periods = 15, freq="D")
random_data = np.random.randint(low=1, high=100, size=15)

df = pd.DataFrame({"data": random_data}, index=some_dates)
df

            data
2023-07-06    99
2023-07-07    90
2023-07-08    23
2023-07-09    75
2023-07-10    73
2023-07-11    53
2023-07-12    83
2023-07-13     1
2023-07-14    83
2023-07-15    28
2023-07-16    39
2023-07-17    74
2023-07-18    77
2023-07-19    38
2023-07-20    85

In [9]:
# getting the data above or below a date
print("Data below July 15 2023")
display(df['2023-07-15':])

print("\nData till July 11")
display(df[:"July 11 2023"]) # when indexing with dates, the date after colon(:) is inclusive

print("\nDates between July 12 and July 17")
display(df["July 12 2023":"07-17-2023"])

Data below July 15 2023

            data
2023-07-15    28
2023-07-16    39
2023-07-17    74
2023-07-18    77
2023-07-19    38
2023-07-20    85

Data till July 11

            data
2023-07-06    99
2023-07-07    90
2023-07-08    23
2023-07-09    75
2023-07-10    73
2023-07-11    53

Dates between July 12 and July 17

            data
2023-07-12    83
2023-07-13     1
2023-07-14    83
2023-07-15    28
2023-07-16    39
2023-07-17    74

Note: When indexing with dates, the date after the ":" is also inclusive